// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site.
// -----------------------------------------------------------------------------

// Import files
@use "../base/typography" as typo;
@use "../utils/responsive" as mq;

/* Header */
.header {
  &__logo {
    text-align: center;
    font-family: typo.$font-logo;
    font-weight: 500;

    @include mq.for-phone-only {
      margin: 1rem 0;
      font-size: 1.9rem;
    }

    a {
      text-decoration: none;

      &:visited {
        color: black;
      }
    }
  }
}
