@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Header */
.header__logo {
  text-align: center;
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}
@media (max-width: 599px) {
  .header__logo {
    margin: 1rem 0;
    font-size: 1.9rem;
  }
}
.header__logo a {
  text-decoration: none;
}
.header__logo a:visited {
  color: black;
}

/* Footer */
.footer {
  background-color: #353535;
  color: white;
  padding: 1.5rem;
}
@media (max-width: 599px) {
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
  }
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.footer__ul {
  list-style-type: none;
}
.footer__liens {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0.5rem 0;
}
.footer__liens__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}
.footer__liens__titre {
  font-weight: 500;
}
.footer a {
  color: inherit;
  text-decoration: none;
}

/* button of explore section */
/* Button of working section */
/* Exploration */
.explore {
  font-family: "Roboto", sans-serif;
  border-top: 3px solid #CECECE;
  background-color: #EAEAEA;
}
.explore__location {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 900;
}
.explore__location__icon {
  margin-right: 15px;
}
.explore__location__input {
  width: 40%;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  background-color: transparent;
}
.explore__location__input:focus {
  outline: none;
}
.explore__location ::placeholder {
  color: black;
}
@media (max-width: 599px) {
  .explore__location {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.explore__content__text {
  font-family: "Roboto", sans-serif;
  padding: 2rem 0;
  background-color: #F6F6F6;
  text-align: center;
}
.explore__content__text h1 {
  width: 75%;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 900;
}
.explore__content__text h2 {
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
  font-size: 1.1rem;
  font-weight: 300;
}
.explore__content__btn {
  display: inline-block;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  background: linear-gradient(350deg, #9356DC, #FF79DA);
  box-shadow: 0.25rem 0.25rem 10px #EAEAEA;
  margin: 2.5rem 0;
  padding-top: 1.5em;
  width: 220px;
  height: 30px;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition-duration: 0.25s;
}
.explore__content__btn:hover {
  background: linear-gradient(350deg, #a16be0, #ff93e1);
  box-shadow: 0.25rem 0.25rem 10px #a8a8a8;
}
.explore__content__btn a {
  text-decoration: none;
  color: inherit;
}

/* Working */
.working {
  font-family: "Roboto", sans-serif;
}
@media (max-width: 599px) {
  .working {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}
.working__title {
  padding: 2.5rem 0 0 2.5rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
}
.working__btn {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: number;
}
.working__btn__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  background-color: #F6F6F6;
  box-shadow: 0.25rem 0.25rem 0.5rem #b5b5b5;
  border-radius: 1.25rem;
  position: relative;
  font-weight: 500;
}
.working__btn__content:before {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  counter-increment: number 1;
  content: counter(number) "";
  color: white;
  text-align: center;
  background-color: #9356DC;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  position: absolute;
  left: -0.75rem;
}
.working__btn__content i {
  color: #7E7E7E;
  padding: 0 0.7rem;
  width: 1.5rem;
  text-align: center;
}
.working__btn__content:hover {
  background-color: #f2eafb;
}
.working__btn__content:hover i {
  color: #9356DC;
}

/* Restaurants */
.restaurants {
  padding-left: 1rem;
  background-color: #F6F6F6;
}
.restaurants__title {
  padding-top: 2rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
}
.restaurants__card__img img {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
