// Import Files
@use "../utils/variables" as vars;

@mixin card {
  font-family: vars.$font-txt;

  a {
    width: 335px;
    margin: 0 auto;
    color: black;
    text-decoration: none;
 
    &:visited {
      color: black;
    }
  }

  &__img{
    position: relative;
  }

  &__img img {
    width: 335px;
    height: 175px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  &--new {
    position: absolute;
    top: 1rem;
    right: 1rem;

  }
  
  &--new p {
    display: inline-block;
    margin: 0;
    padding: 0.4rem;
    background-color: vars.$color-tertiary;
    color: vars.$color-new;
    font-weight: 300;
    border-radius: 3px;
  }

  &__content {

    &__text__name{
      font-size: 1.1rem;
      font-weight: 300;  
      margin: 1.2rem;    
    }
  }
}
