// Include Files
@use "../utils/variables" as *;

// loader animation
@keyframes animate-loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Fade out loader
@keyframes animate-out {
  0% {
    opacity: 1;
    z-index: 2;
  }
  50% {
    opacity: 1;
    z-index: 2;
  }
  99% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
    animation-fill-mode: forwards;
  }
}

@keyframes working-steps {
  from {
    background-color: $color-primary;
  }
  to {
    background-color: lighten($color-primary, 35%);
  }
}

@mixin heart {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  -webkit-background-clip: text;
  background-image: linear-gradient(0deg, $color-secondary, $color-primary);

  &:hover {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: transparent;
  }
}

@keyframes itemLoader {
  0% {
    opacity: 0;
    transform: translatey(20%);
  }
  50% {
    opacity: 0.5;
    
  }
  100% {
    opacity: 1;
  }
}
