/* Header */
.header {
  &__logo {
    @include for-phone-only {
      margin: 0 auto;
      padding: 1.5rem 0;
    }
  }
}

/* Exploration */
.explore {
  &__location {

    @include for-phone-only {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}

/* Working */

/* Restaurants */

/* Footer */
