
/* Exploration */
.explore {
  font-family: $font-txt;
  border-top: 3px solid $color-grey2;
  background-color: $color-grey3;

  &__location {
    
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 900;
    &__icon {
      margin-right: 15px;
    }

    @include for-phone-only {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  &__content {
    &__text {
      padding-top: 1.5rem;
      background-color: $color-grey4;
      text-align: center;

      & h1 {
        width: 80%;
        margin: 0 auto;
        font-size: 1.8rem;
        font-weight: 900;
      }

      & h2 {
        width: 90%;
        margin: 0 auto;
        padding-top: 1rem;
        font-size: 1.1rem;
        font-weight: 500;
      }
    }

    &__btn {
      @include btn;
    }
  }
}

/* Working */

/* Restaurants */
