// Import files
@use "../utils/variables" as vars;
@use "../utils/mixins";
@use "../utils/responsive" as mq;
@use "../components/button" as btn;
@use "../components/cards";
@use "../base/animations" as anim;

/* Explore section */
.explore {
  @include mq.for-phone-only {
    height: 20.938rem;
    background-color: vars.$color-grey3;

    &__location {
      background-color: vars.$color-grey2;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0.8rem 0 0.625rem 5.1rem;

      &__icon {
        font-size: 1rem;
        margin-right: 15px;
      }

      &__input {
        font-family: vars.$font-txt;
        font-size: 1.1rem;
        font-weight: 500;
        border: none;
        background-color: vars.$color-grey2;
      }
    }

    &__content__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__content__text h1 {
      width: 80%;
      font-family: vars.$font-txt;
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center;
      padding: 2.65rem 0 0 3.8rem;
      background-color: vars.$color-grey3;
    }

    &__content__text h2 {
      width: 100%;
      font-family: vars.$font-txt;
      font-size: 1.125rem;
      font-weight: 300;
      text-align: center;
      padding: 0.7rem 0 0 0.5rem;
      background-color: vars.$color-grey3;
    }

    &__content__btn {
      display: inline-block;
      padding-top: 2.8rem;
      text-align: center;
    }

    &__content__btn a {
      padding: 0.938rem 1.375rem;
      font-size: 1rem;
      font-weight: 500;
      color: #fff;
      background: linear-gradient(
        0deg,
        vars.$color-primary,
        vars.$color-secondary
      );
      border-radius: 1.563rem;
      text-decoration: none;
      box-shadow: 5px 5px 15px #bbb;
    }

    &__content__btn a:hover {
      background: linear-gradient(
        0deg,
        lighten(vars.$color-primary, 5%),
        lighten(vars.$color-secondary, 5%)
      );
      box-shadow: 5px 5px 10px rgb(65, 65, 65);
    }
  }
}

/* Working section */
.working {
  @include mq.for-phone-only {
    height: 27.5rem;
    background-color: #fff;

    &__title {
      margin-top: 3.125rem;
      margin-left: 1.3rem;
      font-size: 1.5rem;
      font-weight: 500;
      color: #000000;
    }

    &__btn {
      width: 90%;
      margin: 0;
      padding: 0;
      list-style: none;
      counter-reset: number;
    }

  }
}

/* Restaurants section */
.restaurants {
  background: ccc;
}
