// Import files
@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/responsive" as *;
@use "../components/button" as *;
@use "../components/cards" as *;
@use "../base/animations" as *;

/* Explore section */
.explore {
  position: relative;
  z-index: 0;
  @include for-phone-only {
    height: 20.938rem;
    background-color: $color-grey3;

    &__location {
      background-color: $color-grey2;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0.8rem 0 0.625rem 5.1rem;

      &__icon {
        font-size: 1rem;
        margin-right: 15px;
      }

      &__input {
        font-family: $font-txt;
        font-size: 1.1rem;
        font-weight: 500;
        border: none;
        background-color: $color-grey2;
      }
    }

    &__content__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__content__text h1 {
      width: 80%;
      font-family: $font-txt;
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center;
      padding: 2.65rem 0 0 3.8rem;
      background-color: $color-grey3;
    }

    &__content__text h2 {
      width: 100%;
      font-family: $font-txt;
      font-size: 1.125rem;
      font-weight: 300;
      text-align: center;
      padding: 0.7rem 0 0 0.5rem;
      background-color: $color-grey3;
    }

    &__content__btn {
      display: inline-block;
      padding-top: 2.8rem;
      text-align: center;
    }

    &__content__btn a {
      padding: 0.938rem 1.375rem;
      font-size: 1rem;
      font-weight: 500;
      color: #fff;
      background: linear-gradient(0deg, $color-primary, $color-secondary);
      border-radius: 1.563rem;
      text-decoration: none;
      box-shadow: 5px 5px 15px #bbb;
    }

    &__content__btn a:hover {
      background: linear-gradient(
        0deg,
        lighten($color-primary, 5%),
        lighten($color-secondary, 5%)
      );
      box-shadow: 5px 5px 10px #AAA;
    }
  }
}

/* Working section */
.working {
  position: relative;
  z-index: 0;
  @include for-phone-only {
    width: 100%;
    height: 27.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    &__title {
      margin-top: 3.125rem;
      margin-left: 1.3rem;
      font-size: 1.5rem;
      font-weight: 500;
      color: #000000;
    }

    &__btn {
      width: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      list-style: none;
      counter-reset: number;

      &__content {
        @include flex(row, nowrap, flex-start, center);
        position: relative;
        margin: 1.6rem auto;
        width: 20.2rem;
        height: 4.688rem;
        font-weight: 500;
        background-color: #f6f6f6;
        border-radius: 1.25rem;
        box-shadow: 5px 5px 10px $color-grey;

        &:before {
          counter-increment: number 1;
          content: counter(number) "";
          color: white;
          background-color: $color-primary;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 0.75rem;
          position: absolute;
          left: -0.75rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        & i {
          color: $color-icon;
          padding: 0 1.6rem 0 2.5rem;
          text-align: center;
        }

        &:hover {
          background-color: lighten($color-primary, 35%);
          transform: scale(1.05);
          transition: 0.2s ease-in-out;
          box-shadow: 5px 5px 10px #AAA;

          & i {
            color: $color-primary;
          }
        }
      }
    }
  }
}

/* Restaurants section */
.restaurants {
  @include for-phone-only {
    width: 100%;
    height: 76.625rem;
    @include flex(column, nowrap, center, flex-start);
    background-color: #f6f6f6;

    &__title h3 {
      margin-top: -0.6rem;
      margin-left: 1.3rem;
      font-size: 1.5rem;
      font-weight: 500;
      color: #000000;
      background-color: #f6f6f6;
    }

    &__cards {
      width: 100%;
      @include flex(column, nowrap, center, flex-start);
    }

    &__card {
      width: 20.938rem;
      height: 15.688rem;
      margin: 1.5rem auto -0.4rem;
      background-color: #fff;
      border-radius: 1.25rem;
      box-shadow: 5px 5px 10px $color-grey;
      text-decoration: none;
      color: #000;

      &:hover {
        transform: scale(1.05);
        transition: 0.2s ease-in-out;
        box-shadow: 5px 5px 10px #AAA;
      }

      &__img {
        position: relative;
      }

      &__img img {
        width: 100%;
        height: 10.875rem;
        border-radius: 0.938rem 0.938rem 0 0;
        object-fit: cover;
      }

      &--new {
        position: absolute;
        top: 0.5rem;
        right: 0.9rem;
      }

      &--new p {
        display: inline-block;
        margin: 0;
        padding: 0.4rem;
        background-color: $color-tertiary;
        color: $color-new;
        font-weight: 500;
        border-radius: 3px;
      }

      &__content {
        position: relative;

        &__icon {
          position: absolute;
          left: 18.1rem;
          bottom: 0.1rem;
          font-size: 1.313rem;
          padding: 0.3rem;
          -webkit-text-fill-color: white;
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: black;
          cursor: pointer;

          &:hover {
            transition: 0.2s ease-in-out;
            background-image: linear-gradient(0deg, $color-secondary, $color-primary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-color: transparent;
          }
        }
      }

      &__content__text {
        @include flex(column, nowrap, center, flex-start);

        &__name {
          font-size: 1.125rem;
          font-weight: bold;
          margin: 0.7rem 0.8rem;
        }

        &__location {
          font-size: 1.063rem;
          font-weight: 100;
          margin: -0.7rem 0.8rem;
        }
      }
    }
  }
}
