// Colors

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey: rgb(53,53,53);
$color-grey2: lighten($color-grey, 50%);
$color-grey3: lighten($color-grey, 65%);
$color-grey4: lighten($color-grey, 70%);

// Media Queries
$breakpoint:(
    phone-only: 599px, 
    tablet-portrait: 600px,
    tablet-landscape: 900px,
    desktop: 1200px,
    desktop-up: 1800px
);
