// Colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-new: #008766;
$color-grey: #CFCFCF;
$color-grey2: #EAEAEA;
$color-grey3: #F6F6F6;
$color-icon: #7E7E7E;
$footer-bg: #353535;
$footer-font: #FFFFFF;


// Media Queries
$breakpoint:(
    phone-only: 576px, 
    tablet-portrait: 768px,
    tablet-landscape: 992px,
    desktop: 1200px,
    desktop-up: 1201px
);

// Typographie
$font-logo: "Shrikhand", cursive;
$font-txt: "Roboto", sans-serif;

