// Import Fonts
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


// Colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-new: #008766;
$color-grey: #CECECE;
$color-grey2: #EAEAEA;
$color-grey3: #F6F6F6;
$color-icon: #7E7E7E;
$footer-bg: #353535;


// Media Queries
$breakpoint:(
    phone-only: 576px, 
    tablet-portrait: 768px,
    tablet-landscape: 992px,
    desktop: 1200px,
    desktop-up: 1400px
);

// Typographie
$font-logo: "Shrikhand", cursive;
$font-txt: "Roboto", sans-serif;